DISCIPLINA: Gestão do Conhecimento	 PROFESSOR(A): Alex Salgado
PERÍODO: 7o. TURNO: noite AVALIAÇÃO:

ALUNO(A): _

GRAU: VISTO DO PROFESSOR:

# Questão 1 - valor (0,0)

*** Crie um repositório no Github e adicione este arquivo no mesmo


1.1 - Você deve escolher uma base de dados do Kaggle.

A natureza desse dataset deve se encaixar em um problema que podemos resolver utilizando modelos de previsão de machine learning supervisionado de classificação. 

A partir desta base de dados do Kaggle, você vai treinar o modelo, fazer previsões e calcular a acurácia do mesmo, usando modelos e algoritmos que desejar.

Obs1: Usar o Kaggle como fonte para o seu dataset obrigatoriamente.
Obs2: Implementações idênticas ou bem parecidas pode levar a anulação da NOTA ou seja, ZERO!! Faça o melhor com sua equipe apenas.

1.1 - Coloque aqui o link para o seu dataset escolhido no Kaggle.

https://www.kaggle.com/mathchi/diabetes-data-set

1.1.1 - Descreva sobre o que é base de dados.

**Conjunto de dados originados do Instituto Nacional de Diabetes, Doenças Digistivas e Renais. Foram adicionadas algumas restrições nessas instâncias de um banco de dados maior. Todos as instâncias são dados de pacientes mulheres com pelo menos 21 anos de idade e de herança Indígena Pima.

---


**

1.1.2 - Se você fez em grupo, quais os nomes dos componentes do seu grupo?

**Michael Nascimento de Souza<br> Izaú Pereira Barbora**

---

1.2 - Após tratada, criar uma pasta no seu GoogleDrive e disponibilizar o link do arquivo de sua base (csv, xlsx, etc) para ser importado no seu código.

https://drive.google.com/drive/folders/19gL0kGSBc2dqq4lr4j2-rZgC02AmQMEk?usp=sharing

## Criar um código usando o Jupyter Notebook e responder (através de código) às seguintes questões:

# Questão 2 - valor (0,5)

2.1 - Importar os modulos python para machine learn e carregar o arquivo 

** Sugestão se for do tipo xlsx, usar o read_excel do pandas
import pandas as pd
dt = pd.read_excel("meuarquivo.xlsx")

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('diabetes.csv')
data

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
data.rename(columns={'Pregnancies':'Gestações',
                     'Glucose':'Glicose',
                     'BloodPressure':'Pressão Sanguínea',
                     'SkinThickness':'Espessura da Pele',
                     'Insulin':'Insulina',
                     'BMI':'IMC',
                     'DiabetesPedigreeFunction':'Função Pedigree do Diabetes',
                     'Age':'Idade(anos)',
                     'Outcome':'Resultado'
                     }, inplace = True)
data

     Gestações  Glicose  ...  Idade(anos)  Resultado
0            6      148  ...           50          1
1            1       85  ...           31          0
2            8      183  ...           32          1
3            1       89  ...           21          0
4            0      137  ...           33          1
..         ...      ...  ...          ...        ...
763         10      101  ...           63          0
764          2      122  ...           27          0
765          5      121  ...           30          0
766          1      126  ...           47          1
767          1       93  ...           23          0

[768 rows x 9 columns]

In [ ]:
data

2.2 - Exibir os primeiros registros desta tabela.

In [ ]:
data.head()

     Gestações  Glicose  ... Idade Resultado
0  Pregnancies  Glucose  ...   Age   Outcome
1            6      148  ...    50         1
2            1       85  ...    31         0
3            8      183  ...    32         1
4            1       89  ...    21         0

[5 rows x 9 columns]

2.3 - De que se trata esse banco de dados? e que tipo de previsão pode ser feito com ele?

Foram selecionadas algumas mulheres como pelo menos 21 anos de idade, foram submetidas alguns exames para coleta de informações e tendo como base essas medidas foram estimados o diagnóstico:

*   Gestação: Numero de gestações;
*   Glicose: Concentração de glicose no plasma a 2horas em um teste de tolerância;
*   Pressão Sanquínea: pressão arterial diatólica (mm Hg)
*   Espessura da pele: espessura da dobra da pele do tríceps (mm)
*   Insulina: insulina sérica de 2 horas (mu U/ml)
*   IMC: índice de massa corporal (peso em kg/(altura em m)*2)
*   DPF: Função pedigree do diabetes
*   Idade: idade das pacientes em (anos)
*   Resultado: variável de classe (0 ou 1)

***O Objetivo é, com base nessas medidas, prever se um paciente tem ou não diabetes***

---

# Questão 3 - valor (1,5)

Utilizando as terminologias de Machine Learning(features e observações):

3.1 - Quantas "features" têm nessa base de dados?

Temos 8 features.

3.2 - Quantas observações têm nessa base de dados?

Um total de  769 observações.

3.3 - Separe o que é entrada (features) do seu dataset na variável X, e exiba.

In [ ]:
X = data.drop(['Resultado'], axis=1)
X

     Gestações  Glicose  ...  Função Pedigree do Diabetes  Idade(anos)
0            6      148  ...                        0.627           50
1            1       85  ...                        0.351           31
2            8      183  ...                        0.672           32
3            1       89  ...                        0.167           21
4            0      137  ...                        2.288           33
..         ...      ...  ...                          ...          ...
763         10      101  ...                        0.171           63
764          2      122  ...                        0.340           27
765          5      121  ...                        0.245           30
766          1      126  ...                        0.349           47
767          1       93  ...                        0.315           23

[768 rows x 8 columns]

3.4 - Separe o que é saída (target/resposta) do seu dataset na variável y, e exiba.

In [ ]:
y = data['Resultado']
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Resultado, Length: 768, dtype: int64

# Questão 4 - valor (1,5)

4.1 - Utilizando a sua base, faça um treinamento e uma previsão, usando o algoritmo de classificação de sua escolha.

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif, mutual_info_classif

In [ ]:
f_classif = SelectKBest(score_func=f_classif, k=4)

In [ ]:
fit = f_classif.fit(X,y)

In [ ]:
features = fit.transform(X)
print(features)

[[  6.  148.   33.6  50. ]
 [  1.   85.   26.6  31. ]
 [  8.  183.   23.3  32. ]
 ...
 [  5.  121.   26.2  30. ]
 [  1.  126.   30.1  47. ]
 [  1.   93.   30.4  23. ]]

In [ ]:
columns = fit.get_support(indices=True)
data.iloc[:,columns]

     Gestações  Glicose   IMC  Idade(anos)
0            6      148  33.6           50
1            1       85  26.6           31
2            8      183  23.3           32
3            1       89  28.1           21
4            0      137  43.1           33
..         ...      ...   ...          ...
763         10      101  32.9           63
764          2      122  36.8           27
765          5      121  26.2           30
766          1      126  30.1           47
767          1       93  30.4           23

[768 rows x 4 columns]

# Questão 5 - valor (1,5)

Usando o método de avaliação de acurácia (Train test split), Escolha outros 2 algoritmos de classificação e calcule a acurácia dos mesmos.

5.2 - Acurácia usando o algoritmo 1 ?

5.3 - Acurácia usando o algoritmo 2 ?

5.4 - De acordo com seus resultados anteriores, qual dos 2 algoritmos é mais eficiente?

# Questão 6 - valor (1,5)

6 - Faça um visualização auto-explicativa da sua base de dados utilizando o matplotlib. Coloque o código e a visualização abaixo.

In [ ]:
*** Envie o link do seu Github com essa resposta no Classroom